/* styling to responsive design- 2 column layout */
* {
  box-sizing: border-box;
}

.layoutRow{
      max-width:1000px;
      margin:auto;
          
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  /* height: 300px; */
  
}

.left {
width: 25%;
}

.right {
width: 75%;
}

/* Clear floats after the columns */
.layoutRow:after {
  content: "";
  display: table;
  clear: both;
}
/* end of responsive design styling */

/* new form section styling */

.newForm{
  border: solid 2px black;
}

select {
  width: 100%;
  padding: 16px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.formHairColor{
 display: flex;
 flex-direction: column;
}

.formOutfitColor{
  display: flex;
  flex-direction: column;
}

/* end of new form section styling */
