:root {
  --light: 80;
  --threshold: 60;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* responsive design test */
#container {
  padding: 20px;
  float: left;
  width: 50%;
}

/* new form section styling */
.newForm {
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
  padding: 20px;
  float: left;
  width: 35%;
}

ul {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

li {
  list-style-type: none;
  text-align: center;
  min-height: 40px;
  min-width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 300;
}

li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

#skinColorContainer,
#noseContainer,
#eyeColorContainer,
#eyeContainer,
#mouthContainer,
#hairContainer,
#bangsContainer {
  padding: 0.8em;
}

input::-webkit-color-swatch {
  border: none;
}

input[type="color"] {
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid black;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

.inputs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.selector-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_8bit {
  width: 100%;
  margin: 10px;
  float: left;
  border-left: 5px solid black;
  border-right: 5px solid black;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section_8bit .wrapper {
  display: block;
  color: black;
  padding: 40px;
  margin: -5px 0;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.section_8bit::before,
.section_8bit::after,
.section_8bit .wrapper::before,
.section_8bit .wrapper::after {
  content: "";
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  background: black;
}

.section_8bit::before {
  top: -2px;
  left: -2px;
}

.section_8bit::after {
  top: -2px;
  right: -2px;
}

.section_8bit .wrapper::before {
  bottom: -2px;
  left: -2px;
}

.section_8bit .wrapper::after {
  bottom: -2px;
  right: -2px;
}

span {
  width: 100%;
}

.fa-arrow-down {
  font-size: 20px;
}

#downloadBtn {
  background-color: white;
  -webkit-animation: rainbow 2s ease-in-out infinite;
          animation: rainbow 2s ease-in-out infinite;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  border: 5px solid black;
  border-radius: 5px;
  padding: 1em;
  width: 100%;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  margin-top: 6px;
  font-weight: bolder;
}

#downloadBtn:hover {
  color: white;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#fa7241), color-stop(#e4f241), color-stop(#42f551), color-stop(#3cb7fa), to(#4e3bf7));
  background: linear-gradient(to right, #fa7241, #e4f241, #42f551, #3cb7fa, #4e3bf7);
  background-size: 200% 200%;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.colors li {
  color: gray;
}

li img {
  max-width: 90px;
}

@media screen and (max-width: 800px) {
  #container,
  .newForm {
    width: 100%;
  }
}

.btnStyling {
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

input {
  margin: 0 20px;
}

label {
  margin: 0 10px;
  padding-bottom: 0.3em;
}

input {
  margin: 0 20px;
}

select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  padding: 25px 20px;
  margin: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.formHairColor,
.formOutfitColor,
.backgroundColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* end of new form section styling
  
  /* title about avatar */
.title {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
}

/* font families for later reference: 
  
  font-family: 'Press Start 2P', cursive;
  font-family: 'Ubuntu', sans-serif; */
/*# sourceMappingURL=style2.css.map */